
//navbar
.navbar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.navbar-brand {
  font-family: $font-stack-headings;
  font-weight:600;
  text-decoration: none;
  font-size: 1.25rem;
  letter-spacing: 0.02rem;
  line-height: 0;
}
.nav {
  margin-left: auto;
  height: 42px;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.nav-item {
  align-self: center;
}
.navbrand {
  align-self: center;
}
.nav-link {
  font-family: $font-stack-headings;
  font-weight:400;
  text-decoration: none;
  letter-spacing: 0.05rem;
  line-height: 0;
}
