

//responsive typography
html {
    font-size: 20px;
    @include media('>small-screen') {
      font-size: 22px;
    }
}

// single-direction margin declaration : margin-top wins
// because when there are many <p>, things are messy
h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  line-height: 1.25;
  @extend .mb0;
  margin-top: $medium-value + $tiny-value + $tiny-value;
}

a:hover {
    transition: color 0.4s;
}
a {
    transition: color 0.4s;
}

// one clean column, name is explicit enough
.wrapper {
  max-width: 750px;
  margin-left:auto;
  margin-right:auto;
  @extend .pas;
}

