.u-htube {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.u-htube--center {
  justify-content: center;
}
.u-htube--start {
  justify-content: flex-start;
}
.u-htube--end {
  justify-content: flex-end;
}