<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="container blabla">
      {% include header.html %}
      <div class="page-content">
        <div class="wrapper">
          {{ content }}
        </div>
      </div>
      {% if page.url != '/' and page.url != '/writings/' %}
        {% include footer.html %}
      {% endif %}
    </div>

    <!--startjs-->
    {% include js-requestanimationframe.html %}
    {% include js-google_analytics.html %}
    {% include js-highlighter.html %}
    <!--endjs-->
  </body>

</html>
